#!/bin/bash

########################################
# Digital Ocean Config
# 
# token of your account
DIGITAL_OCEAN_TOKEN=''
#
# hostname of your vps
DIGITAL_OCEAN_VPS_NAME=''
#
# region to deploy
# United State: nyc1, ny2, nyc3, sfo1, sfo2
# Nederland: ams1
# Singapore: sgp1
# Britain: lon1
# Germany: fra1
# Canada: tor1
# India: blr1
DIGITAL_OCEAN_VPS_REGION='' 
#
# the size of vps 
DIGITAL_OCEAN_VPS_SIZE=''
#
# image of vps
DIGITAL_OCEAN_VPS_IMAGE=''
#
# public ssh key for vps
DIGITAL_OCEAN_VPS_SSH_KEYS=''
#
# enable ipv6
DIGITAL_OCEAN_VPS_ENABLE_IPV6=true
#
# enable private networking
DIGITAL_OCEAN_VPS_ENABLE_PRIVATE_NETWORKING=true
#
# tag for vps
DIGITAL_OCEAN_VPS_TAGS=''
########################################
